body {
    font-family: Source Sans Pro;
    line-height: 1.45;
    font-size: 16px;
    color: #555;
    margin-top: 3.750rem;
    background-color: #fafafa;
}

a {
    color: #6871df;
    border-bottom: 1px solid;
    text-decoration: none;
}

a:hover {
    color: #bcc0f1;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 300;
    text-rendering: optimizeLegibility;
    margin-bottom: 1.125rem;
    color: #232122;
}

h1 {
    font-size: 2.625em;
}

h2 {
    font-size: 2.250em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.875em;
}

p {
    margin: 0 0 1rem;
}

blockquote {
    margin: 0 .5rem 1rem;
    padding: 1rem;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5em;
    border-left: 3px solid;
}

p, ul, ol, pre {
    margin: 0 0 1rem;
}

button {
    background: none;
    border: 1px solid #6D60CF;
    color: #6D60CF;
    border-radius: 3px;
    padding: 4px 5px;
    font-size: .85rem;
    cursor: pointer;
}

button:hover {
    border-color: #c7c2ed;
    color: #c7c2ed;
}

hr {
    height: 1px;
    border: none;
    border-bottom: 1px dashed #ddd;
    margin: 2rem 0;
}

code, pre, pre.prettyprint {
    font-family: 'Source Code Pro';
    font-size: .875rem;
    border-radius: 3px;
}

pre.prettyprint {
    border: none;
    padding: 1rem;
    line-height: 1.3;
    overflow-x: auto;
}

code {
    background: #1d1f21;
    color: #c5c8c6;
    padding: 4px;
}

article img {
    max-width: 100%;
}

header {
    background-color: #fff;
    line-height: 3.750rem;
    padding: 0 1.25rem;
    color: #1d1d28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

header #logo {
    float: left;
    color: #1d1d28;
}

header #logo img {
    vertical-align: -.75rem;
    max-height: 48px;
    margin-right: 5px;
}

header .menu {
    float: right;
    margin-bottom: 0;
    border-left: 1px solid #eee;
}

header .menu li {
    display: inline-block;
    border-right: 1px solid #eee;
}

header .menu a {
    display: block;
    margin: 0 1rem;
    color: #797979;
    border-bottom: none;
}

header .menu a:hover {
    color: #aaa;
}

footer {
    background: #1d1d28;
    font-size: .875rem;
    color: #999;
    text-align: center;
    padding: 2rem 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

footer ul {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

footer ul li {
    width: 28%;
    margin-right: 7%;
    display: inline-block;
    vertical-align: top;
}

footer ul li:last-child {
    margin-right: 0;
}

footer h3 {
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid;
    letter-spacing: 1px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

footer hr {
    margin: 1rem 0;
    border-bottom: 1px solid #333;
}

footer dl {
    display: table-row;
}

footer dl dt, footer dl dd {
    display: table-cell;
    padding: 4px;
}

footer dl dt {
    text-align: right;
}

.splash {
    background: #1d1d28;
    box-shadow: 0 1px rgba(0, 0, 0, 0.05), inset 0 -1px rgba(0, 0, 0, 0.05);
    height: 300px;
    line-height: 320px;
    text-align: center;
    position: relative;
}

.splash .punchline {
    display: inline-block;
    line-height: 1;
}

.splash .zimg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    height: 100%;
    background: url("/images/splash.jpg");
    background-size: 1920px auto;
    background-position: center -315px;
    background-repeat: no-repeat;
}

.splash .darken {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .2;
    background: #000;
    height: 100%;
}

.splash h3 {
    position: relative;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

#logo {
    font-size: 2rem;
    font-weight: 600;
}

section {
    padding: 3.5rem 0 2.5rem;
    border-bottom: 1px solid #eee;
}

section .inner {
    max-width: 900px;
    margin: 0 auto;
}

section:last-of-type {
    border-bottom: none;
}

section#work {
    background-color: #1d1d28;
    color: #666;
}

section#work h1, section#work h2, section#work h3,
section#work h4, section#work h5, section#work h6 {
    color: white;
}

section#contact {
    background-color: #fff;
}

.media {
    margin: 1rem 0;
    padding: 1rem 0;
    overflow: hidden;
}

.media .img {
    float: left;
    margin-right: 25px;
}

.media .img img {
    border-radius: 50%;
}

.media .img img.square {
    border-radius: 0;
}

.media .content {
    margin: .5rem 0 0;
    margin-left: 205px;
}

.team .member {
    border-bottom: 1px solid #f1f1f1;
}

/* blog */
article {
    font-size: 1.3rem;
}

article h1 {
    font-weight: 400;
}

article .author {
    text-align: right;
    width: 220px;
    margin-top: 1rem;
    margin-left: -250px;
    position: absolute;
}

article .author img {
    border-radius: 50%;
    margin-bottom: .75rem;
}

article .author .name, article .author time {
    font-size: .875rem;
    margin-right: 10px;
    line-height: 1;
}

article .author .name {
    font-weight: 600;
}

article .author time {
    font-style: italic;
}

@media (max-width: 1440px) {
    .splash {
        height: 260px;
        line-height: 280px;
    }

    .splash .zimg {
        background-size: 1440px auto;
        background-position: center -215px;
    }
}

@media (max-width: 960px) {
    .splash {
        height: 260px;
        line-height: 280px;
    }

    .splash .zimg {
        background-size: 960px auto;
        background-position: center -115px;
    }
}

@media (max-width: 480px) {
    header a, header #logo, header ul.menu {
        display: block;
        float: none;
    }

    header ul.menu {
        border: none;
    }

    header ul.menu li {
        border: none;
        width: 100%;
        display: block;
    }

    .splash {
        height: 260px;
        line-height: 280px;
    }

    .splash .zimg {
        background-size: 480px auto;
        background-position: center;
    }

    section .inner {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer {
        padding: 2rem 1rem;
    }

    footer ul li {
        width: 100%;
    }
}
