// Divider -------------------------
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.divider-footer {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}
